*~
~*
#*
*#
./partDataSheets/*~
./partDataSheets/~*
./partDataSheets/#*
./partDataSheets/*#
./code/*~
./code/~*
./code/*#
./code/#*
./code/built/*
./code/src/*~
./code/src/~*
./code/src/*#
./code/src/#*
./code/src/include/*~
./code/src/include/~*
./code/src/include/*#
./code/src/include/#*

